@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  /* COLORS */
  --main-color: #603F83;
  --light-main: #C7D3D4;
  --secondary-color: #195190;
  --light-secondary: #A2A2A1;
  --alert: #F5D042;
}

/* RESET */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
}

body{
  background-color: var(--main-color) !important;
  color: var(--light-main) !important;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: var(--alert);
}

hr {
  border-top: 1px var(--light-secondary) dashed;
}

button {
  background-color: var(--light-main) !important;
  border: 1px var(--light-main) solid !important;
  color: var(--main-color) !important;
  font-weight: 700 !important;
  border-radius: 8px;
  box-shadow: 5px 5px 11px #533671,
    -5px -5px 11px #6d4895;
}

button:hover {
  background-color: var(--main) !important;
  color: var(--light-main) !important;
  box-shadow: 5px 5px 11px #311f44,
    -5px -5px 11px #9a6bcc;
}

